@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Rasa:wght@700&display=swap');

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	background: rgba(215, 215, 215, 0.6);
}

ul {
	margin: 0;
	padding: 0;
}

header,
footer,
section {
	width: calc(100vw - 40px);
	margin: 0 auto;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
	border: 0;
	height: 0;
	border-top: rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
}

/* HEADER START */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	margin: 0 auto;
}

.ham-container {
	padding-left: 0.4rem;
	padding-bottom: 0.3rem;
}

.hamburger-menu {
	display: flex;
	grid-column: 3;
	justify-content: start;
	align-items: center;
	cursor: pointer;
}
#nav-toggle {
	display: none;
}
.menu-lines {
	position: relative;
	cursor: pointer;
}
.line {
	width: 30px;
	height: 3px;
	background: rgba(0, 0, 0, 0.8);
	margin: 5px;
	transition: 200ms all ease-in-out;
}

.logo-container a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.logo {
	font-family: 'Rasa', serif;
	font-size: 2rem;
	font-weight: bold;
}

.cart-icon {
	padding-right: 0.4rem;
	color: rgba(0, 0, 0, 0.8);
}
.cart-icon a {
	color: rgba(0, 0, 0, 0.8);
}
.fa-shopping-cart:before {
	font-size: 1.3rem;
}
/* HEADER END */

/* BANNER START */
.banner h3 {
	margin: 0 auto;
	padding: 0.3rem 0;
}
.text-bold-small {
	font-weight: bold;
	font-size: 1.06rem;
	text-align: center;
}
/* BANNER END */

/* FEATURE IMAGE START */
.feature-section {
	position: relative;
	display: inline-block;
}
.feature-image {
	object-fit: cover;
	overflow: hidden;
}
.feature-image img {
	position: relative;
	left: -7rem;
}
.feature-title {
	position: absolute;
	right: 36px;
	top: 42%;
}
.hero-text {
	font-weight: bold;
	font-size: 2.2rem;
	line-height: 38px;
	text-align: right;
	margin: 0;
}
#feature-section .feature-button {
	position: absolute;
	right: 36px;
	top: 59%;
	font-size: 1.3rem;
	font-weight: bold;
	border: 4px solid rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 255, 255, 0.5);
	width: 11rem;
	padding: 0.5rem 1.2rem;
}

/* FEATURE IMAGE END*/

/* BLANK BOX */
.blank {
	height: 2.02rem;
}
/* BLANK BOX */

/* ABOUT SECTION START */
#about {
	display: flex;
	flex-direction: column;
}
#about h1,
#about p,
#about .btn-outline-tr {
	margin: 0;
	margin-bottom: 1rem;
}
#about p {
	font-size: 0.9rem;
}
.btn-outline-tr {
	background-color: transparent;
	border: 2px solid rgba(0, 0, 0, 0.8);
	width: 65%;
	align-self: center;
	padding: 1rem;
}
/* ABOUT SECTION END */

/* FOOTER */
#contact {
	padding: 1rem 0rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-info {
	list-style: none;
	padding-left: 0.3rem;
}
.contact-info li {
	padding-top: 0.2rem;
}
.contact-info li a {
	color: rgba(0, 0, 0, 0.8);
}

#contact div:nth-of-type(2) {
	padding-right: 0.3rem;
}
.social {
	list-style: none;
}
.social li {
	/* display: inline-block; */
}
.social li a {
	color: rgba(0, 0, 0, 0.8);
}
