@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Rasa:wght@700&display=swap');

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	background: rgba(215, 215, 215, 0.6);
}

ul {
	margin: 0;
}

header,
footer,
section {
	width: calc(100vw - 40px);
	margin: 0 auto;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
	border: 0;
	height: 0;
	border-top: rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	margin: 0 auto;
}

.ham-container {
	padding-left: 0.4rem;
	padding-bottom: 0.3rem;
}

.hamburger-menu {
	display: flex;
	grid-column: 3;
	justify-content: start;
	align-items: center;
	cursor: pointer;
}
#nav-toggle {
	display: none;
}
.menu-lines {
	position: relative;
	cursor: pointer;
}
.line {
	width: 30px;
	height: 3px;
	background: rgba(0, 0, 0, 0.8);
	margin: 5px;
	transition: 200ms all ease-in-out;
}

.logo-container a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.logo {
	font-family: 'Rasa', serif;
	font-size: 2rem;
	font-weight: bold;
}

.cart-icon {
	padding-right: 0.4rem;
	color: rgba(0, 0, 0, 0.8);
}
.cart-icon a {
	color: rgba(0, 0, 0, 0.8);
}
.fa-shopping-cart:before {
	font-size: 1.3rem;
}

#about {
	display: flex;
	flex-direction: column;
}
#about h1,
#about p,
#about .btn-outline-tr {
	margin: 0;
	margin-bottom: 1rem;
}
#about p {
	font-size: 0.9rem;
}
.btn-outline-tr {
	background-color: transparent;
	border: 2px solid rgba(0, 0, 0, 0.8);
	width: 50%;
	align-self: center;
}

/* FOOTER */
footer {
}

.contact-info {
	list-style: none;
}
.contact-info li a {
	color: rgba(0, 0, 0, 0.8);
}

.social {
	display: inline-block;
	list-style: none;
}
.social li {
	display: inline-block;
}
.social li a {
	color: rgba(0, 0, 0, 0.8);
}
